node_modules/
.next/
out/
.env
.env.local
.env*.local
.env.production
*.db
*.db-journal
prisma/dev.db
public/uploads/*
!public/uploads/.gitkeep
.DS_Store
.vercel
*.pem
npm-debug.log*
next-env.d.ts
*.tsbuildinfo
